@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header {
    width: 100vw;
    height: 11vh;
}

main {
    position: relative;
    font-size: 2.5vh;
    height: 60vh;
    width: auto;
}

header > h1 {
    display: block;
    position: relative;
    padding-top: 30px;
    left: 5vw;
    width: 70px;
    font-size: 3.5vw;
    text-shadow: 3px 1px rgb(0, 0, 0);
}

html, body {
    background: url(imagens/home.jpg) no-repeat center fixed;
    background-size: cover;
    height: 41vh;
    width: 86vw;
}

nav#menu {
    display: inline-block;
    position: relative;
    top: -8vh;
    left: 15vw;
    text-align: right;
    width: 84vw;
    height: 4vh;
}

@media screen and (min-width: 700px) {
    nav#menu li {
        padding: 10px;
        font-size: 2.5vh;
        top: 10px;
    }
}

@media screen and (width: 700px){
    nav#menu li {
        font-size: 2.5vh;
    }
}

@media screen and (max-width: 700px) {
    nav#menu li {
        padding: 5px;
    }
}

nav#menu li {
    display: inline-block;
    margin-top: 3.0vh;
}

nav#menu > ul > li a {
    text-decoration: none;
}

nav#menu > ul > li a:hover {
    color: rgb(0, 174, 255);
}

article {
    position: relative;
    top: 100px;
    left: 5vw;
    font-size: 2.5vh;
    text-align: justify;
    height: 60vh;
}

article h1 {
    width: 70vw;
    left: 30vw;
  
}

article h2, p {
    padding-top: 30px;
}

article a {
    position: relative;
    top: 40px;
    text-decoration: none;
    padding: 15px;
    margin-top: 20px;
    margin-right: 30px;
    background-color: rgb(0, 174, 255);
    border-radius: 10px;
    color: black;
    
}

article > section a {
    display: inline-block;
    position: relative;
    top: 10vh;
    padding: 0px;
    margin-right: 55px;
    background-color: seagreen;
}

article > section img {
    position: absolute;
    width: 20px;
    border: 1px solid lightblue;
    border-radius: 50%;
    padding: 10px;
}

article > section img:hover {
    transition: 0.5s;
    background-color: rgb(0, 174, 255);
}